
@media screen and (max-width: 480px) {
    .custom-layout {
        flex-direction: column;
        align-items: center;
        margin: 20px;
    }

    .custom-image-container,
    .custom-text-container {
        width: 100%;
        max-width: none;
    }

    .custom-text-container {
        margin-top: 20px;
    }
    .image-container {
        flex-wrap: wrap;
    }

    .box-container {
        flex-direction: column;
        align-items: center;
    }

    .box {
        width: 60%;
         height:50% ;
        margin: 0 0 20px;
    }

    .box img {
        width: 50%;

    }
    nav {
    background-color: #d1e3ff;
    padding: 3px 0;
    width: 100%;
    top: 0;
    z-index: 1000;
    overflow: hidden;
}
form {
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 250px; 
    margin: 0 auto; 
}

    .background {
        height: auto;
    }

    
    h1 {
        font-size: 15px;
    }

    h2 {
        font-size: 20px;
    }

    .content-left h1 {
        font-size: 25px;
    }

    .custom-text-container p {
        font-size: 14px;
    }
    header {
    position: fixed; 
    top: 0; 
    width: 95%; 
    background-color: #333;
    color: #fff;
    padding: 15px;
    text-align: center;
    display: flex;
    justify-content: space-between;
}

header p {
    margin: 5px;
    font-size: 12px; 
}

nav ul {
    list-style-type: none;
    padding: 0;
}

nav ul li {
    display: inline;
    margin-right: 20px;
    font-size: 15px;
}
}

@media screen and (max-width: 768px) {
    .custom-layout {
        flex-direction: column;
        align-items: center;
        margin: 20px;
    }

    .custom-image-container,
    .custom-text-container {
        width: 100%;
        max-width: none;
    }

    .custom-text-container {
        margin-top: 20px;
    }
    .image-container {
        flex-wrap: wrap;
    }

    .box-container {
        flex-direction: column;
        align-items: center;
    }

    .box {
        width: 100%;
        margin: 0 0 20px;
    }

    .box img {
        width: 70%;
    }

    .background {
        height: auto;
    }

    #myBox,
    #myBox2 {
        width: 100%;
        margin-bottom: 20px;
    }
}

@media screen and (min-width: 1024px) {
    .custom-layout {
        margin: 90px;
    }

    .image-container {
        justify-content: space-between;
    }
    .nav ul {
    list-style-type: none;
    padding: 0;
    font-size: 16PX;

}

.nav ul li {
    display: inline;
    margin-right: 20px;
}
}